.preload-wrapper {
    z-index: 9999999999;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #2e2e2e;
    overflow: hidden;
}

#preloader_4 {
    position: relative;
    width: 70px;
    margin: 23% auto;
}

#preloader_4 span {
    position: absolute;
    width: 20px;
    height: 20px;
    background: rgb(247, 176, 45);
    opacity: 0.5;
    border-radius: 20px;
    -animation: preloader_4 1s infinite ease-in-out;
    -webkit-animation: preloader_4 1s infinite ease-in-out;
}

#preloader_4 span:nth-child(2) {
    left: 20px;
    animation-delay: .2s;
    -webkit-animation-delay: .2s;
}

#preloader_4 span:nth-child(3) {
    left: 40px;
    -webkit-animation-delay: .4s;
    animation-delay: .4s;
}

#preloader_4 span:nth-child(4) {
    left: 60px;
    animation-delay: .6s;
    -webkit-animation-delay: .6s;
}

#preloader_4 span:nth-child(5) {
    left: 80px;
    animation-delay: .8s;
    -webkit-animation-delay: .8s;
}

@keyframes preloader_4 {
    0% {
        opacity: 0.3;
        transform: translateY(0px);
        box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
    }

    50% {
        opacity: 1;
        transform: translateY(-10px);
        background: #f1c40f;
        box-shadow: 0px 20px 3px rgba(0, 0, 0, 0.05);
    }

    100% {
        opacity: 0.3;
        transform: translateY(0px);
        box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
    }
}

@-webkit-keyframes preloader_4 {
    0% {
        opacity: 0.3;
        transform: translateY(0px);
        box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
    }

    50% {
        opacity: 1;
        transform: translateY(-10px);
        background: #f1c40f;
        box-shadow: 0px 20px 3px rgba(0, 0, 0, 0.05);
    }

    100% {
        opacity: 0.3;
        transform: translateY(0px);
        box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
    }
}